---
name: Worflows checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  repo-checks:
    name: Check the repository github actions workflows
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          fail_on_error: true
